<!DOCTYPE HTML>
<html ng-app="twitterClone">
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-controller="mainCtrl">
    <div class="main-container">
      <h1> DevMountain Chat Room </h1>
       <input class="form-control text-box filter-input" type="text" ng-model="messageFilter" placeholder="Filter for message">
       <button ng-show="ascDsc" ng-click="changer()">Ascending</button>
       <button ng-show="!ascDsc" ng-click="changer()">Descending</button>
      <form class="clear-fix" ng-submit="postData()">
        <input class="form-control text-box" type="text" ng-model="message" placeholder="Message">
      </form>
      <div ng-repeat="thing in messages | filter:{text: messageFilter} | orderBy">
        <p ng-show="thing.text.length">{{thing.text}}</p>
        <p class="bottom" ng-show="thing.text.length"><small>Created at: {{thing.createdAt | datetime}}</small></p>
      </div>
    </div>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.19.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/parseService.js"></script>
    <script src="js/defaultHeaders.js"></script>
  </body>
</html>